@model Educational_platform.ViewModel.LectureVM


<div class="d-grid gap-2 col-6 mx-auto">
    <form >
        <h1> @Model.Name
        </h1>

        <h3> <a> <button type="submit" class="btn btn-success">Confirm  Order!</button></a></h3>
</form>
   @* <a class="btn btn-warning" href="/Movies/Index"> Continue shopping</a>
    <a class="btn btn-success" href="/Cart/cartt"> Go to check out </a>*@
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
