@model Educational_platform.ViewModel.ExamVM

@{
    ViewData["Title"] = "Edit";
}




<hr />
<div class="container">
    <h1>Edit</h1>
    <div class="row">
    <div class="col-md-4">
        <Form asp-controller ="Exam" asp-action="SaveEdit" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="QuestionImg" class="control-label"></label>
                <input asp-for="QuestionImg" class="form-control" />
                <span asp-validation-for="QuestionImg" class="text-danger"></span>
            </div> *@
            

            <div class="form-group">
                <label asp-for="LectureId" class="control-label"></label>
                <input asp-for="LectureId" class="form-control" />
                <span asp-validation-for="LectureId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save"  style="width:100px; background-color: #5fcf80; border: 0; padding: 10px 10px;
transition: 0.4s; margin-top:12px;color:#ffffff;text-align: center; border-radius: 45px;" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
