@model Educational_platform.Models.Book

@{
    ViewData["Title"] = "ReadById";
}

<h1>ReadById</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Model.Name
        </dd>
        <dt class="col-sm-2">
            Price
        </dt>
        <dd class="col-sm-10">
            @Model.Price
        </dd>
        <dt class="col-sm-2">
            grade
        </dt>
        <dd class="col-sm-10">
            @Model.grade.Name
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Cart" asp-route-id="@Model?.Id" asp-action="Download">Download the Book</a>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
