@model Educational_platform.ViewModel.QuestionVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>QuestionVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <Form asp-controller ="Question" asp-action="SaveEdit" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="QAnswers" class="control-label"></label>
                <input asp-for="QAnswers" class="form-control" />
                <span asp-validation-for="QAnswers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExamId" class="control-label"></label>
                <input asp-for="ExamId" class="form-control" />
                <span asp-validation-for="ExamId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
