@model Educational_platform.Models.Question

@{
    ViewData["Title"] = "ReadById";
}

<h1>ReadById</h1>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            QAnswers
        </dt>
        <dd class="col-sm-10">
            @Model.QAnswers
        </dd>
      
        
        <dt class="col-sm-2">
            Exam
        </dt>
        <dd class="col-sm-10">
            @Model.exam.Name
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
